@import "tailwindcss";

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 60px;
    background-color: rgba(0, 0, 0, 1); /* Adjust the last value (0.8) for transparency */
    background-attachment: fixed;
}